langgraph
langchain
langchain-core
langchain-community
langchain-openai
langsmith
python-dotenv
langchain-groq 
langchain_tavily
arxiv
wikipedia
langgraph-cli[inmem]
langchain-groq
langchain-mcp-adapters
mcp
langgraph
fastapi
uvicorn
watchdog